<div class="mx-4">
    <div>
        Your name is: {{username}}
    </div>
    <div class="messages-container"
         #messagesContainer>
        <app-message *ngFor="let message of messages"
                     [message]="message">
        </app-message>
    </div>
    <div class="mx-2">
        <mat-form-field appearance="outline"
                        class="w-100"
                        >
            <input matInput 
                   placeholder="Type message"
                   [(ngModel)]="newMessage"
                   (keyup.enter)="onEnter(newMessage)">
        </mat-form-field>
    </div>
</div>