<mat-toolbar color="primary">
  <span>Chat Application</span>

  
  <button mat-button [matMenuTriggerFor]="menu" class="float-right">
    Menu
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login" routerLinkActive="active">
      login
    </button>
    <button mat-menu-item routerLink="/chat-room" routerLinkActive="active">
      chat-room
    </button>
    <button mat-menu-item routerLink="/create-account" routerLinkActive="active">
      create-account
    </button>
    <button mat-menu-item routerLink="/user-list" routerLinkActive="active">
      user-list
    </button>
    <button mat-menu-item routerLink="/chat-list" routerLinkActive="active">
      chat-list
    </button>
  </mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>